.hero-container {
  width: 100vw;
  height: 250px;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.7) 2%,
    rgba(0, 0, 0, 0.4) 15%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 100%,
    
    ),
    url('https://images.pexels.com/photos/5158825/pexels-photo-5158825.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    width: 280px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    color: black;
    padding: 20px;
  }
}