.sneaker-card-content {
  width: 45%;
  height: 250px;
  background-color: #FFFFFF;
  box-shadow: 3px 6px 10px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }
}


.sneaker-card-infos {
  background: linear-gradient(
    rgba(192, 99, 12, 0) 0%,
    rgba(192, 99, 12, 1) 20%,
    rgba(192, 99, 12, 1) 100%,
    );
    padding: 10px;
    border-radius: 0 0 9px 9px;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-around;
  letter-spacing: 1px;
  h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    color: white;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  span {
    font-size: 13px;
    font-weight: 900;
    color: lightgray;
  }
}
    